/* 
colors and font styles

dark background (hero and footer )
    #1F2937
hero main (this website is awesome)
    48px extra-bold #F9FAF8
Hero secondary, header link
    18px #E5E7EB
Header logo
    24px bold #F9FAF8 

button color, call to action background
    #3882F6
information header
    36px extra-bold #1F2937

quote bg
    #E5E7EB
quote text
    36px light italic #1F2937
*/


body {
    background-color: #1f2937;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color: #F9FAF8;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

h1,
ul ,
p,
div,
button {
    margin: 0;
    padding: 0;
}

p span.excl {
    font-weight: 700;
}

li.header-link a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
    display: inline-block;
    position: relative;
    color: #F9FAF8;
}
    li.header-link a:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #F9FAF8;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    li.header-link a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}
a:hover {
    text-decoration: underline;
}


img {
    object-fit: cover;
    image-rendering: optimizeQuality;
    object-position: center;
}

.signup-button {
    width: 140px;
    height: 40px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 700;
    border-style: solid;
    border-radius: 5px;
    border-color: #F9FAF8;    
}

/* header area */

.headerbg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    
}
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-basis: 1000px;
    }

        .header-logo{
            font-size: 24px;
            font-weight: 900;
            flex: 0 0 none;
        }
        .header-links {
            display: flex;
            list-style: none;
            gap: 16px;
        }

/* awesome area */
.thiswebsitebg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

    .thiswebsite {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-basis: 1000px;
        gap: 20px;
        flex-wrap: nowrap;
    }

        .thiswebsiteleft {
            display: flex;
            flex-direction: column;
            gap: 16px;
            flex-grow: 1;
            flex-shrink: 1;            
            max-width: 600px;
        }

        h1 .awesome {
            margin: 0;
            padding: 0;
            font-size: 48px;
            font-weight: 900;
            color: #F9FAF8;
        }

        .subtext {
            flex-grow: 1;
            min-width: 300px;
            font-size: 18px;
            color: #E5E7EB;
            font-weight: 100;
        }

        .thiswebsite .signup-button{
            border-style: none;
        }
        

/* information area */
.informationbg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    background-color: #F9FAF8;
}
    .information {
        color: #1f2937;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-basis: 1000px;
    }

        .random-info {
            margin: 0;
            padding: 0 0 20px 0;
        }

        .fourboxes {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;            
            padding: 0 20px;
        }

        .rbc {
            display: flex;
            flex-direction: column;
            flex-basis: 120px;                    
            align-items: center;
        }

        .rbox img {
            border: 3px solid #3882F6;
            border-radius: 10px;
        }

        .rbox-text {
            color: #1f2937;
            font-size: 12px;
            text-align: center;
            margin-top: 10px;
        }

/* quote area */
.quotebg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    background-color: #E5E7EB;
}
    .quote {
        display:flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 1000px;
        color: #1f2937;
        padding: 20px 420px;
        height: 240px;
        /* flex-shrink: 0;
        flex-grow: 1; */
        }

        .quote-text{
            /* max-height: 240px; */
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 36px;
            font-weight: 100;
            font-style: italic;
            color: #1F2937;
            align-self: flex-start;
        }
        .quote-signature {
            align-self: flex-end;
            font-weight: 600;
            font-size: 20px;
        }

/* signup area */
.signupbg{
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}
    .signup {
        padding: 50px;
        max-width: 1000px;
        flex-basis: 850px;
        /* align-self: center;
        flex-grow:1; */
    }
        .signup-container{
            
            display: flex;
            justify-content: space-between;
            padding: 30px 70px;
            background-color: #3882F6;
            border-radius: 5px;
        }
        .signup-left{
            gap: 5px;
        }

        .signup-header{
            font-weight: 900;
            font-size: 16px;
        }
        .signup-text {
            font-size: 12px;
            font-weight: 500;
        }

/* footer area */
.footerbg{
    display: flex;
    justify-content: center;
    
}
    .footer {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 16px;
        flex-basis: 1000px;
    }


/* 

future:

5. use tools to change the color scheme

*/